<div class="linkslist">
  <p class="asidetitle"><%= __('友情链接') %></p>
    <ul>
      <li><a href="http://news.dbanotes.net/" title="Startup News" target="_blank">Startup News</a></li>
      <li><a href="http://android.eoe.cn/" title="eoe Android" target="_blank">eoe Android</a></li>
      <li><a href="http://blog.csdn.net/luoshengyang" title="老罗的Android之旅" target="_blank">老罗的Android之旅</a></li>
      <li><a href="http://www.redwolf-blog.com/" title="红狼博客" target="_blank">红狼博客</a></li>
      <li><a href="http://ifeve.com/" title="并发编程网" target="_blank">并发编程网</a></li>
    </ul>
</div>
